
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<body>

    <div class="page-header">
        <h3 class="page-title">
            <span class="page-title-icon bg-gradient-primary text-white mr-2">
                <i class="mdi mdi-home"></i>
            </span> Dashboard
        </h3>
    </div>
    <div class="row">
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-danger card-img-holder text-white">
                <div class="card-body">
                    <img src="~/menduhinsaat/dashboard/circle.png" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Ürün Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.ToplamUrunSayisi</h2>
                    <h6 class="card-text">Menduh İnşaat</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-info card-img-holder text-white">
                <div class="card-body">
                    <img src="~/menduhinsaat/dashboard/circle.png" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Yorum Sayısı <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.ToplamYorumSayisi</h2>
                    <h6 class="card-text">Menduh İnşaat</h6>
                </div>
            </div>
        </div>
        <div class="col-md-4 stretch-card grid-margin">
            <div class="card bg-gradient-success card-img-holder text-white">
                <div class="card-body">
                    <img src="~/menduhinsaat/dashboard/circle.png" class="card-img-absolute" alt="circle-image" />
                    <h4 class="font-weight-normal mb-3">
                        Toplam Resim Sayısı <i class="mdi mdi-diamond mdi-24px float-right"></i>
                    </h4>
                    <h2 class="mb-5">@ViewBag.ToplamResimSayisi</h2>
                    <h6 class="card-text">Menduh İnşaat</h6>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("Comment10LastComment")

    @await Component.InvokeAsync("AdminAboutOnDashBoard")
    @await Component.InvokeAsync("AdminDashBoardCategory")

    <!-- Template Main CSS File -->
    <!-- Template Main JS File -->
    <script src="~/menduhinsaat/assets/js/main.js"></script>
</body>
</html>
<script src="~/Admin/assets/js/off-canvas.js"></script>
<script src="~/Admin/assets/js/todo.js"></script>
<script src="~/Admin/assets/js/todolist.js"></script>
<script src="~/Admin/assets/vendors/js/vendor.bundle.base.js"></script>
<link href="~/Admin/assets/css/style.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<link rel="stylesheet" href="styles.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/css/comment.css" rel="stylesheet" />
<script src="~/js/site.js"></script>
<script src="~/Login/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
<script src="~/Admin/assets/js/jquery.unobtrusive-ajax.js"></script>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>MENDUH İNŞAAT</title>
<meta content="İzmir İnşaat" name="description">
<meta content="İzmir Çevresi İnşaat" name="description">
<meta content="İzmir Çevresi Tadilat" name="description">
<meta content="İzmir Çevresi Dekorasyon" name="description">
<meta content="İzmir Dekorasyon" name="description">
<meta content="İzmir Tadilat" name="description">
<meta content="İnşaat" name="keywords">
<meta content="İzmir İnşaat" name="keywords">
<meta content="İzmir Çevresi İnşaat" name="keywords">
<meta content="İzmir Dekorasyon" name="keywords">
<meta content="İzmir Tadilat" name="keywords">
<meta content="Dekorasyon" name="keywords">
<meta content="Tadilat" name="keywords">

